/* font-family: "LCD2B"; */
@font-face {
  font-family: "LCD2B";
  src: url("../fonts/LCD2B/LCD2B.eot");
  src: url("../fonts/LCD2B/LCD2B.eot?#iefix") format("embedded-opentype"), url("../fonts/LCD2B/LCD2B.woff") format("woff"), url("../fonts/LCD2B/LCD2B.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "CuprumRegular"; */
@font-face {
  font-family: "CuprumRegular";
  src: url("../fonts/CuprumRegular/CuprumRegular.eot");
  src: url("../fonts/CuprumRegular/CuprumRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CuprumRegular/CuprumRegular.woff") format("woff"), url("../fonts/CuprumRegular/CuprumRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 12px "LatoRegular";
  font-size: 12px !important;
}

.wrapper {
  min-width: 10px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.content {
  max-width: 1188px;
  margin: 0 auto;
}

header, footer {
  width: 100%;
  height: 140px;
}
header .logo, header .block1, header .block2, header .block3, header .block4, header .block2 ul, footer .logo, footer .block1, footer .block2, footer .block3, footer .block4, footer .block2 ul {
  display: inline-block;
  vertical-align: top;
}
header .logo, footer .logo {
  max-width: 19.88255%;
  width: 100%;
  margin-top: 10px;
  margin-right: 2%;
  height: auto;
}
header .logo img, footer .logo img {
  width: 100%;
  height: auto;
}
header .block1, footer .block1 {
  max-width: 11.74497%;
  width: 100%;
  margin-top: 39px;
  margin-left: 2%;
  height: auto;
  font-family: "RobotoBold";
}
header .block1 .block1_tagline, footer .block1 .block1_tagline {
  font-size: 14px;
}
header .block1 img, footer .block1 img {
  display: inline-block;
  vertical-align: top;
  margin-top: 10%;
}
header .block1 .block1_map_link, footer .block1 .block1_map_link {
  margin-top: 10%;
  vertical-align: top;
  display: inline-block;
}
header .block1 .block1_map_link a, footer .block1 .block1_map_link a {
  color: #ed1d24;
  padding-left: 4px;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
}
header .block2, footer .block2 {
  width: 39.09396%;
  margin-top: 32px;
  margin-left: 2%;
}
header .block2 ul, footer .block2 ul {
  width: auto;
  margin-right: 5%;
  margin-left: 5%;
}
header .block2 ul li a, footer .block2 ul li a {
  color: #000000;
  font-family: "RobotoRegular";
  line-height: 30px;
  font-size: 14px;
}
header .block2 ul li a span, footer .block2 ul li a span {
  color: #ed1c24;
  font-weight: 700;
  font-style: italic;
}
header .block2 ul:last-child li:last-child img, footer .block2 ul:last-child li:last-child img {
  margin-left: -16px;
}
header .block3, footer .block3 {
  width: 22%;
  margin-top: 32px;
  text-align: right;
  font-family: "RobotoRegular";
  color: #000000;
}
header .block3 .block3_location, footer .block3 .block3_location {
  font-size: 14px;
}
header .block3 .block3_phone, footer .block3 .block3_phone {
  font-size: 24px;
  font-family: "RobotoBold";
}
header .block3 .block3_phone a, footer .block3 .block3_phone a {
  color: #000000;
}
header .block3 .block3_mail, footer .block3 .block3_mail {
  color: #337ab7;
  font-size: 14px;
  text-decoration: underline;
}

main .board {
  position: relative;
  width: 100%;
  height: 567px;
  background: url(../img/main_back.png) center center no-repeat;
}
main .board .content {
  height: 567px;
}
main .board .board_img {
  width: auto;
  position: absolute;
  bottom: 0;
}
main .board .board_caption {
  display: inline-block;
  width: 24.83221%;
  float: right;
  text-align: right;
  position: relative;
  top: 30px;
  font-family: "RobotoRegular";
  right: 0;
}
main .board .board_caption .board_caption_title {
  color: #000000;
  font-size: 36px;
  text-transform: uppercase;
}
main .board .board_caption .board_caption_text {
  color: #000000;
  font-size: 15px;
}
main .advantages {
  background-color: #e5e3e3;
}
main .advantages_description {
  width: 100%;
  text-align: center;
  font-family: "RobotoLight";
  vertical-align: top;
  color: #2c3134;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: -90px;
}
main .advantages_description .advantages_description_lable {
  display: inline-block;
  position: absolute;
  margin-top: -136px;
  margin-left: 20px;
}
main .advantages_line_item {
  display: inline-block;
  text-align: center;
  width: 24%;
  vertical-align: top;
}
main .advantages_line_item .advantages_line_item_text {
  margin-bottom: 69px;
  color: #2c3134;
  font-family: "RobotoBold";
  font-size: 15px;
}
main .advantages_calc_line {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 120px;
}
main .advantages_calc_line .advantages_calc {
  box-sizing: content-box;
  width: 752px;
  height: 260px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0 auto;
}
main .advantages_calc_line .advantages_calc .advantages_calc_left, main .advantages_calc_line .advantages_calc .advantages_calc_center, main .advantages_calc_line .advantages_calc .advantages_calc_right {
  display: inline-block;
  height: 220px;
  vertical-align: top;
}
main .advantages_calc_line .advantages_calc .advantages_calc_left {
  padding: 30px 18px 0 26px;
  font-family: RobotoRegular;
  font-size: 9px;
  text-transform: uppercase;
  width: 44px;
}
main .advantages_calc_line .advantages_calc .advantages_calc_left .advantages_calc_left_patrol_mark {
  color: #8696a7;
  padding: 0 0 28px 0;
}
main .advantages_calc_line .advantages_calc .advantages_calc_left .advantages_calc_left_patrol_95, main .advantages_calc_line .advantages_calc .advantages_calc_left .advantages_calc_left_patrol_92, main .advantages_calc_line .advantages_calc .advantages_calc_left .advantages_calc_left_patrol_D {
  padding: 0 0 13px 0;
  color: #2c3134;
}
main .advantages_calc_line .advantages_calc .advantages_calc_left .advantages_calc_left_patrol_95 span, main .advantages_calc_line .advantages_calc .advantages_calc_left .advantages_calc_left_patrol_92 span, main .advantages_calc_line .advantages_calc .advantages_calc_left .advantages_calc_left_patrol_D span {
  color: #2c3134;
  font-size: 24px;
  text-transform: uppercase;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center {
  padding: 21px 18px 0 0;
  width: 364px;
  text-align: center;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center .advantages_calc_center_title {
  padding: 0 0 8px 0;
  color: #000000;
  font-family: "RobotoBold";
  font-size: 24px;
  text-transform: uppercase;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center span {
  text-shadow: 0 1px 0 #ffffff;
  color: #000000;
  font-family: "RobotoRegular";
  font-size: 12px;
  line-height: 30px;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input {
  width: 100%;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type="checkbox" i] {
  width: auto;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
  padding: 8px 0 21px 0;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]:focus {
  outline: none;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ed1d24;
  border-radius: 25px;
  border: 0.2px solid #000101;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1px solid #000000;
  height: 21px;
  width: 21px;
  border-radius: 50px;
  background: url(../img/thumb.png) center center no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.2px;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ed2229;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ed1d24;
  border-radius: 25px;
  border: 0.2px solid #000101;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1px solid #000000;
  height: 21px;
  width: 21px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]::-ms-fill-lower {
  background: #ed181f;
  border: 0.2px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]::-ms-fill-upper {
  background: #ed1d24;
  border: 0.2px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1px solid #000000;
  height: 21px;
  width: 21px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 9px;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]:focus::-ms-fill-lower {
  background: #ed1d24;
}
main .advantages_calc_line .advantages_calc .advantages_calc_center input[type=range]:focus::-ms-fill-upper {
  background: #ed2229;
}
main .advantages_calc_line .advantages_calc .advantages_calc_right {
  padding: 20px 10px 20px 20px;
  background: url(../img/board_2.png) center center no-repeat;
  width: 233px;
}
main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_name {
  padding: 14px 0 19px 0px;
  color: #cccccc;
  font-family: "RobotoRegular";
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
}
main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_name .advantages_calc_right_line_name_v, main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_name .advantages_calc_right_line_name_coast1, main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_name .advantages_calc_right_line_name_coast_2 {
  display: inline-block;
}
main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_number {
  color: #ff0000;
  font-family: "LCD2B";
  font-size: 24px;
  text-transform: uppercase;
  padding: 14px 0 13px 0;
  text-align: center;
}
main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_number span {
  padding: 0 10px 0 0;
}
main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_number_col1 {
  display: inline-block;
  padding: 0 16px 0 9px;
}
main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_number_col2 {
  display: inline-block;
  padding: 0 21px 0 0;
}
main .advantages_calc_line .advantages_calc .advantages_calc_right .advantages_calc_right_line_number_col3 {
  display: inline-block;
  padding: 0 19px 0 0;
}
main .menu_tabs {
  width: 100%;
  background-color: #ffffff;
}
main #tabs {
  background-color: #e5e3e3;
}
main ul {
  position: relative;
  margin-top: -60px;
  background-color: #e5e3e3;
}
main li {
  width: 33.3333%;
  float: left;
  text-align: center;
  border-top: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 18px 0 14px;
}
main li a {
  padding: 18px 20%;
  color: #2c3134;
  font-family: "RobotoBold";
  font-size: 14px;
  text-transform: uppercase;
}
main .ui-state-hover {
  background-color: #ffffdd;
  border-color: #ed1d24;
}
main .ui-tabs-active {
  background-color: #ffffff;
  border-color: #ed1d24;
}
main .ui-tabs-panel {
  background-color: #ffffff;
}
main .menu_tabs-1_item {
  display: inline-block;
  text-align: center;
  width: 24%;
  margin: 4.02685% 0 4.69799%;
  background-color: #ffffff;
}
main .menu_tabs-1_item_circle1 {
  display: inline-block;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  text-align: center;
  background-color: black;
}
main .menu_tabs-1_item_circle1_circle2 {
  display: inline-block;
  width: 92px;
  height: 92px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: #ed1d24;
}
main .menu_tabs-1_item_circle1_circle2 .menu_tabs-1_item_circle1_circle2_include {
  padding: 6% 0;
  color: #ffffff;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 30px;
}
main .menu_tabs-1_item_circle1_circle2 .menu_tabs-1_item_circle1_circle2_include span {
  color: #ffffff;
  font-family: "RobotoLight";
  font-size: 36px;
  text-transform: uppercase;
}
main .menu_tabs-1_item_circle1_circle2 .menu_tabs-1_item_circle1_circle2_include img {
  padding: 20% 27%;
}
main .menu_tabs-1_item_text {
  width: 100%;
  margin-top: 18px;
  color: #000000;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 20px;
}
main .menu_tabs-1_attention_line {
  width: 100%;
  background-color: #fff;
}
main .menu_tabs-1_attention_line .menu_tabs-1_attention {
  position: relative;
  width: 878px;
  height: 104px;
  background-color: #fff0f1;
  float: right;
  margin-bottom: 8px;
}
main .menu_tabs-1_attention_line .menu_tabs-1_attention_triangle {
  position: absolute;
  top: -17px;
  left: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 34px 34px;
  border-color: transparent transparent #fff0f1 transparent;
}
main .menu_tabs-1_attention_line .menu_tabs-1_attention_block {
  padding: 24px 31px;
}
main .menu_tabs-1_attention_line .menu_tabs-1_attention_block .menu_tabs-1_attention_right {
  padding: 0 30px;
  display: inline-block;
  width: 696px;
  height: 54px;
  color: #000000;
  vertical-align: middle;
  color: #000000;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 20px;
}
main .menu_tabs-1_attention_line .menu_tabs-1_attention_block .menu_tabs-1_attention_left {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 4px solid #ed1d24;
  vertical-align: middle;
  border-radius: 50%;
}
main .menu_tabs-1_attention_line .menu_tabs-1_attention_block .menu_tabs-1_attention_left span {
  font-size: 36px;
  font-family: "RobotoBold";
  font-weight: 200;
  color: #ed1d24;
  padding: 0 21px;
}
main .advantages_card_back {
  width: 100%;
  background: url(../img/main_back_2.png) center center no-repeat;
  background-color: #ffffff;
  height: 452px;
}
main .advantages_card {
  width: 57.92737%;
  float: right;
}
main .advantages_card .advantages_card_title, main .advantages_card .advantages_card_text {
  width: 100%;
  text-align: center;
}
main .advantages_card .advantages_card_title {
  padding-top: 99px;
  color: #2c3134;
  font-family: RobotoBold;
  text-transform: uppercase;
  font-size: 35px;
}
main .advantages_card .advantages_card_text {
  padding-top: 43px;
  padding-bottom: 40px;
  color: #2c3134;
  font-family: "RobotoRegular";
  font-size: 13px;
}
main .advantages_card_items_item {
  display: inline-block;
  width: 32%;
  text-align: center;
  vertical-align: top;
}
main .advantages_card_items_item .advantages_card_items_circle {
  display: inline-block;
  width: 56px;
  height: 56px;
  border: 2px solid #ff0000;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
}
main .advantages_card_items_item .advantages_card_items_circle img {
  padding: 16px 0;
}
main .advantages_card_items_item .advantages_card_items_text {
  margin-top: 13px;
  color: #000000;
  font-family: "RobotoRegular";
  font-size: 13px;
}
main .news {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 37px;
}
main .news_title {
  float: left;
  width: 25%;
}
main .news_title .news_title_text, main .news_title .news_title_link {
  width: 100%;
  text-align: center;
}
main .news_title .news_title_text {
  color: #2c3134;
  font-family: "RobotoRegular";
  font-size: 36px;
  text-transform: uppercase;
}
main .news_title .news_title_link a {
  color: #ff0000;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}
main .news_items {
  width: 75%;
  float: right;
}
main .news_title, main .news_items, main .news_items_item {
  vertical-align: top;
}
main .news_items_item {
  display: inline-block;
  width: 30%;
  float: right;
  margin-right: 3%;
  line-height: 20px;
  font-family: "RobotoRegular";
}
main .news_items_item .news_items_item_img {
  width: 100%;
}
main .news_items_item .news_items_item_img img {
  width: 100%;
  height: 100%;
}
main .news_items_item .news_items_item:first-child {
  margin-right: 0%;
}
main .news_items_item .news_items_item_date {
  color: #8696a7;
  margin: 16px 0;
  font-size: 12px;
}
main .news_items_item .news_items_item_description a {
  color: #000000;
  font-size: 14px;
}
main .news_items_item .news_items_item_description a:hover {
  text-decoration: underline;
}
main .map .map_title {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 999;
}
main .map .map_title span {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  padding: 30px;
  color: #2c3134;
  font-family: RobotoLight;
  font-size: 60px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 3px solid #ed1d24;
}

.signature a {
  color: #b5b8bb;
  font-family: "CuprumRegular";
  font-size: 12px;
  text-transform: uppercase;
}

footer .block3 {
  margin-left: -22px;
}
footer .block4 {
  margin-top: 30px;
}
footer .block4 img {
  opacity: 0.2;
}

.clear:after,
.clear:before {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

/*# sourceMappingURL=style.css.map */