/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 12px "LatoRegular";
  font-size: 12px !important;
}

.wrapper {
  min-width: 10px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.content {
  max-width: 1188px;
  margin: 0 auto;
}

header, footer {
  width: 100%;
  height: 140px;
}
header .logo, header .block1, header .block2, header .block3, header .block4, header .block2 ul, footer .logo, footer .block1, footer .block2, footer .block3, footer .block4, footer .block2 ul {
  display: inline-block;
  vertical-align: top;
}
header .logo, footer .logo {
  max-width: 237px;
  width: 100%;
  margin-top: 10px;
  height: auto;
}
header .block1, footer .block1 {
  max-width: 140px;
  width: 100%;
  margin-top: 39px;
  height: auto;
}
header .block2, footer .block2 {
  width: 466px;
  margin-top: 32px;
}
header .block2 ul, footer .block2 ul {
  width: 32%;
}
header .block3, footer .block3 {
  margin-top: 32px;
  text-align: right;
}

main .board {
  background: url(../img/main_back.png) center center no-repeat;
}
main .board .board_img {
  position: relative;
  display: inline-block;
}
main .board .board_caption {
  display: inline-block;
  float: right;
  text-align: right;
  max-width: 296px;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
}
main .advantages_description {
  width: 100%;
  text-align: center;
  vertical-align: top;
}
main .advantages_line_item {
  display: inline-block;
  text-align: center;
  width: 24%;
}
main .menu_tabs {
  width: 100%;
}
main #tabs ul li {
  display: inline-block;
}
main .menu_tabs-1_item {
  display: inline-block;
}
main .menu_tabs-1_item_circle1_circle2 {
  width: 95px;
  height: 95px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: #ed1d24;
}
main .menu_tabs-1_item_circle1 {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  text-align: center;
  background-color: black;
}

.clear:after,
.clear:before {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

/*# sourceMappingURL=style.css.map */
