/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font: 12px "LatoRegular";
    font-size: 12px !important;
}

.wrapper {
    min-width: 10px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a{
    text-decoration:none;  
}

li{
    list-style-type: none;    
}

$inl: inline-block;
$a:20%;
$b:30%;
$c:((140/1192)*100%);
$d:((237/1192)*100%);
$e:((413+53)/1192)*100%;
$f: (100%)-(round($c))-(round($d))-(round($e))-(7%);
$g:((296/1192)*100%);

.content{
	max-width: 1188px;
	margin: 0 auto;
}

header, footer{
	width: 100%;
	height: 140px;
	.logo,.block1,.block2,.block3,.block4,.block2 ul{
		display: $inl;
		vertical-align: top;
	}
	.logo{
		max-width:$d;
		width:100%;
		margin-top:10px;
		margin-right:2%;
		height: auto;
		img{
			width:100%;
			height:auto;
		}
	}
	.block1{
		max-width:$c;
		width:100%;
		margin-top:39px;
		margin-left:2%;
		height: auto;
		font-family: "RobotoBold";
		.block1_tagline{
			font-size: 14px;	 
		}
		.block1_map_link a{
			color: #ed1d24;
			font-family: "RobotoRegular";
			font-size: 14px;
			// font-weight: 400;
			line-height: 24px;
			text-decoration: underline;
		}
	}
	.block2 {
		width:$e;
		margin-top:32px;
		margin-left:2%;
		ul{
			width:auto;
			margin-right:5%;
			margin-left:5%;
			li a{
			color: #000000;
			font-family: "RobotoRegular";
			line-height: 30px;
			font-size: 14px;
			}
		}
	}
	.block3{
		width:$f;
		margin-top:32px;
		text-align: right;
		font-family: "RobotoRegular";
		color: #000000;
		.block3_location{
			font-size: 14px;
		}
		.block3_phone{
			font-size: 24px;
			font-family: "RobotoBold";
			a{
				color: #000000;
			}
		}
		.block3_mail{
			color: #337ab7;
			font-size: 14px;
			text-decoration: underline;
		}
	}
}

main{
	.board{
		position:relative;
		width:100%;
		height:567px;
		background: url(../img/main_back.png) center center no-repeat;
		.content{
			height:567px;
		}
		.board_img{
			// display:$inl;
			width:auto;
			position:absolute;
			bottom:0;
		}
		.board_caption{
			display:$inl;
			width:$g;
			float:right;
			text-align: right;
			// max-width:296px;
			// width:100%;
			position: relative;
			top:30px;
			font-family: "RobotoRegular";
			right:0;
			.board_caption_title{
				color: #000000;
				font-size: 36px;
				text-transform:uppercase;
			}
			.board_caption_text{
				color: #000000;
				font-size: 15px;
			}
		}

	}
	.advantages{
		background-color: #e5e3e3;
	}
	.advantages_description{
		width:100%;
		text-align:center;
		font-family: "RobotoLight";
		vertical-align:top;
		color: #2c3134;
		font-size: 36px;
		text-transform:uppercase;
		padding-top:50px;
		padding-bottom:50px;
		margin-left:-90px;
		.advantages_description_lable{
			display:$inl;
			position:absolute;
			margin-top:-136px;
			margin-left:20px;
		}
	} 
	.advantages_line_item{
		display:$inl;
		text-align:center;
		width:24%;
		vertical-align:top;
		.advantages_line_item_text{
			color: #2c3134;
			font-family: "RobotoBold";
			font-size: 15px;
		}
	}
	.menu_tabs{
		width:100%;
		background-color: #ffffff;
	}
	#tabs {
		background-color: #e5e3e3;
	}
		ul 
			// #text{ display:none}
			// } 
			li{
			width:33%;
			// display:$inl;
			// font-size:0px;
			float:left;
			text-align:center;
			background-color: rgba(0,0,0,.1);
			border-top: 4px solid transparent;
			margin:0;
				a{
					padding:0 20%;
					color: #2c3134;
					font-family: "RobotoBold";
					font-size: 14px;
					text-transform: uppercase;
				}
	}
	.ui-tabs-active{
		background-color: #ffffff;
		border-color: #ed1d24;
	}

	// #tabs-1,#tabs-2,#tabs-3{
	// 	width:100%;
	// }
	.menu_tabs-1_item{
		display:$inl;
		text-align:center;
		width:24%;
		// margin:48px 0 56px;
		margin:(48/1192)*100% 0 (56/1192)*100%;
	}

	.menu_tabs-1_item_circle1{
		display:$inl;
		width:103px;
		height:103px;
		border-radius:50%;
		text-align:center;
		background-color: black;
	}

	.menu_tabs-1_item_circle1_circle2{
		display:$inl;
		width: 92px;
		height: 92px;
		border: 3px solid #ffffff;
		border-radius:50%;
		text-align:center;
		background-color: #ed1d24;
		
		.menu_tabs-1_item_circle1_circle2_include{
			padding:6% 0;
			color: #ffffff;
			font-family: "RobotoRegular";
			font-size: 14px;
			// font-weight: 400;
			line-height: 30px;
			span{
				color: #ffffff;
				font-family: "RobotoLight";
				font-size: 36px;
				// font-weight: 300;
				text-transform: uppercase;
			}
			img{
				padding:20% 27%;
			}
		}
	}

	.menu_tabs-1_item_text{
		width:100%;
	}
	.menu_tabs-1_attention{
		width: 878px;
		height: 104px;
		background-color: #fff0f1;
		float: right;
	}
	.menu_tabs-1_attention_right{
		display:$inl;
		width: 696px;
		height: 54px;
		color: #000000;
		vertical-align:middle;
	}
	.menu_tabs-1_attention_left{
		display:$inl;
		width:50px;
		height:50px;
		border:2px solid #ed1d24;
		vertical-align:middle;
		border-radius:50%;
	}
	.advantages_card_back{
		width:100%;
		background: url(../img/main_back_2.png) center center no-repeat;
		height:452px;
	}
	.advantages_card{
		max-width:656px;
		width:100%;
		float:right;
	}
	.advantages_card_items_item{
		display:$inl;
		width:32%;
		text-align:center;
		.advantages_card_items_circle{
			display:$inl;
			width: 56px;
			height: 56px;
			border: 2px solid #ff0000;
			border-radius:50%;
			text-align:center;
			background-color: #ffffff;
		}
	}
	.news_title{
		float:left;
		width:25%;
		.news_title_text,.news_title_link{
			width:100%;
			text-align:center;
		}
	}
	.news_items{
		width:75%;
		float:right;
	}
	.news_title,.news_items, .news_items_item{
		// display:$inl;
		vertical-align:top;
	}
	.news_items_item{
		display:$inl;
		width:30%;
		float:right;
		margin-right:3%;
		.news_items_item_img{
			width:100%;
			img{
				width:100%;
				height:100%;
			}	
		}	
	}
	.news_items_item:first-child{
			margin-right:0%;
	}

}



.clear:after,
.clear:before {
content: "";
display: table;
}

.clear:after {
    clear: both;
}