/* font-family: "LCD2B"; */
@font-face {
    font-family: "LCD2B";
    src: url("../fonts/LCD2B/LCD2B.eot");
    src: url("../fonts/LCD2B/LCD2B.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LCD2B/LCD2B.woff") format("woff"),
    url("../fonts/LCD2B/LCD2B.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CuprumRegular"; */
@font-face {
    font-family: "CuprumRegular";
    src: url("../fonts/CuprumRegular/CuprumRegular.eot");
    src: url("../fonts/CuprumRegular/CuprumRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CuprumRegular/CuprumRegular.woff") format("woff"),
    url("../fonts/CuprumRegular/CuprumRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font: 12px "LatoRegular";
    font-size: 12px !important;
}

.wrapper {
    min-width: 10px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a{
    text-decoration:none;  
}

li{
    list-style-type: none;    
}

$inl: inline-block;
$a:20%;
$b:30%;
$c:((140/1192)*100%);
$d:((237/1192)*100%);
$e:((413+53)/1192)*100%;
$f: (100%)-(round($c))-(round($d))-(round($e))-(7%);
$g:((296/1192)*100%);

.content{
	max-width: 1188px;
	margin: 0 auto;
}

header, footer{
	width: 100%;
	height: 140px;
	.logo,.block1,.block2,.block3,.block4,.block2 ul{
		display: $inl;
		vertical-align: top;
	}
	.logo{
		max-width:$d;
		width:100%;
		margin-top:10px;
		margin-right:2%;
		height: auto;
		img{
			width:100%;
			height:auto;
		}
	}
	.block1{
		max-width:$c;
		width:100%;
		margin-top:39px;
		margin-left:2%;
		height: auto;
		font-family: "RobotoBold";
		.block1_tagline{
			font-size: 14px;	 
		}
		img{
			display:$inl;
			vertical-align:top;
			margin-top:10%;
		}
		.block1_map_link{
			margin-top:10%;
			vertical-align:top;
			display:$inl;
			a{

			color: #ed1d24;
			padding-left:4px;
			font-family: "RobotoRegular";
			font-size: 14px;
			line-height: 24px;
			text-decoration: underline;
			} 
		}
	}
	.block2 {
		width:$e;
		margin-top:32px;
		margin-left:2%;
		ul{
			width:auto;
			margin-right:5%;
			margin-left:5%;
			li a{
			color: #000000;
			font-family: "RobotoMedium";
			line-height: 30px;
			font-size: 14px;
			span{
				font-family: "RobotoBold";
				color: #ed1c24;
				font-style: italic;
			}
			}
		}
		ul:last-child li:last-child img{
			margin-left: -16px;
		}
	}
	.block3{
		width:$f;
		margin-top:32px;
		text-align: right;
		font-family: "RobotoRegular";
		color: #000000;
		.block3_location{
			font-size: 14px;
		}
		.block3_phone{
			font-size: 24px;
			font-family: "RobotoBold";
			a{
				color: #000000;
			}
		}
		.block3_mail{
			color: #337ab7;
			font-size: 14px;
			text-decoration: underline;
		}
	}
}

main{
	.board{
		position:relative;
		width:100%;
		height:567px;
		background: url(../img/main_back.png) center center no-repeat;
		.content{
			height:567px;
		}
		.board_img.clear{
			width:410px;
			height:544px;
			position:absolute;
			background: url(../img/board_1.png) center center no-repeat;
			bottom:0;
			.x1{
				margin:70px 0px 0 0px;
			}
			.x2{
				margin:17px 0px 0 0px;
			}
			.x3{
				margin:0px 0px 0 -27px;
			}
			.x4{
				margin:0px 8px 0 -8px;
			}
			.x5{
				margin:0px 4px 0 -4px;
			}
			.board_img_line{
				padding:0px 0px 0 0;
				color: #cf0000;
				text-transform: uppercase;
				font-family: "RobotoMedium";
				text-align:center;
				font-size: 34px;

				.board_img_line_col1{
					display:$inl;
					padding:2px 22px 7px 22px;
					font-family: "RobotoBold";
					font-size: 9px;
					img{
						position:absolute;
						margin:10px 0px 0 -28px;

					}
					span{
						font-size: 26px;
					}
				}
				.board_img_line_col2{
					display:$inl;
					padding:0 0 0 0;
					text-align:left;
				}
			}
		}
		.board_caption{
			display:$inl;
			width:$g;
			float:right;
			text-align: right;
			position: relative;
			top:30px;
			font-family: "RobotoRegular";
			right:0;
			.board_caption_title{
				color: #000000;
				font-size: 36px;
				text-transform:uppercase;
			}
			.board_caption_text{
				color: #000000;
				font-size: 15px;
			}
		}

	}
	.advantages{
		background-color: #e5e3e3;
	}
	.advantages_description{
		width:100%;
		text-align:center;
		font-family: "RobotoLight";
		vertical-align:top;
		color: #2c3134;
		font-size: 36px;
		text-transform:uppercase;
		padding-top:50px;
		padding-bottom:50px;
		margin-left:-90px;
		.advantages_description_lable{
			display:$inl;
			position:absolute;
			margin-top:-136px;
			margin-left:20px;
		}
	} 
	.advantages_line_item{
		display:$inl;
		text-align:center;
		width:24%;
		vertical-align:top;
		.advantages_line_item_text{
			margin-bottom:69px;
			color: #2c3134;
			font-family: "RobotoBold";
			font-size: 15px;
		}
	}
	.advantages_calc_line{
		width:100%;
		height:auto;
		text-align:center;
		margin-bottom:120px;

		.advantages_calc{
			box-sizing:content-box;
			width:752px;
			height:260px;
			background-color:#ffffff;
			border-radius:8px;
			margin:0 auto;
			box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);
				.advantages_calc_left,.advantages_calc_center,.advantages_calc_right{
					display:$inl;
					height:220px;
					vertical-align:top;
				}
				.advantages_calc_left{
					padding:30px 18px 0 26px;
					font-family: RobotoRegular;
					font-size: 9px;
					text-transform: uppercase;
					width:44px;
					.advantages_calc_left_patrol_mark{
						color: #8696a7;
						padding:0 0 28px 0;
					}
					.advantages_calc_left_patrol_95,.advantages_calc_left_patrol_92,.advantages_calc_left_patrol_D{
						padding:0 0 13px 0;
						color: #2c3134;
						span{
							color: #2c3134;
							font-size: 24px;
							text-transform: uppercase;
						}
					}
				}
				.advantages_calc_center{
					padding:21px 18px 0 0;
					width:364px;
					text-align:center;
					.advantages_calc_center_title{
						padding:0 0 8px 0;
						color: #000000;
						font-family: "RobotoBold";
						font-size: 24px;
						text-transform: uppercase;
					}
					span{
						text-shadow: 0 1px 0 #ffffff;
						color: #000000;
						font-family: "RobotoRegular";
						font-size: 12px;
						line-height: 30px;
					}
					input{
						width:100%;
					}
					input[type="checkbox" i]{
						width:auto;
					}
					
					input[type=range] {
					  -webkit-appearance: none;
					  width: 100%;
					  margin: 6px 0;
					  padding:8px 0 21px 0;
					}
					input[type=range]:focus {
					  outline: none;
					}
					input[type=range]::-webkit-slider-runnable-track {
					  width: 100%;
					  height: 9px;
					  cursor: pointer;
					  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
					  background: #ed1d24;
					  border-radius: 25px;
					  border: 0.2px solid #000101;
					}
					input[type=range]::-webkit-slider-thumb {
					  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
					  border: 1px solid #000000;
					  height: 21px;
					  width: 21px;
					  border-radius: 50px;
					  background: url(../img/thumb.png) center center no-repeat;
					  cursor: pointer;
					  -webkit-appearance: none;
					  margin-top: -6.2px;
					}
					input[type=range]:focus::-webkit-slider-runnable-track {
					  background: #ed2229;
					}
					input[type=range]::-moz-range-track {
					  width: 100%;
					  height: 9px;
					  cursor: pointer;
					  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
					  background: #ed1d24;
					  border-radius: 25px;
					  border: 0.2px solid #000101;
					}
					input[type=range]::-moz-range-thumb {
					  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
					  border: 1px solid #000000;
					  height: 21px;
					  width: 21px;
					  border-radius: 50px;
					  background: #ffffff;
					  cursor: pointer;
					}
					input[type=range]::-ms-track {
					  width: 100%;
					  height: 9px;
					  cursor: pointer;
					  background: transparent;
					  border-color: transparent;
					  color: transparent;
					}
					input[type=range]::-ms-fill-lower {
					  background: #ed181f;
					  border: 0.2px solid #000101;
					  border-radius: 50px;
					  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
					}
					input[type=range]::-ms-fill-upper {
					  background: #ed1d24;
					  border: 0.2px solid #000101;
					  border-radius: 50px;
					  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
					}
					input[type=range]::-ms-thumb {
					  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
					  border: 1px solid #000000;
					  height: 21px;
					  width: 21px;
					  border-radius: 50px;
					  background: #ffffff;
					  cursor: pointer;
					  height: 9px;
					}
					input[type=range]:focus::-ms-fill-lower {
					  background: #ed1d24;
					}
					input[type=range]:focus::-ms-fill-upper {
					  background: #ed2229;
					}
				}
				.advantages_calc_right{
					padding:20px 10px 20px 20px;
					background: url(../img/board_2.png) center center no-repeat;
					width:233px;
					
					.advantages_calc_right_line_name{
						padding:14px 0 19px 0px;
						color: #cccccc;
						font-family: "RobotoRegular";
						font-size: 9px;
						text-transform: uppercase;
						text-align:center;
						.advantages_calc_right_line_name_v,.advantages_calc_right_line_name_coast1,.advantages_calc_right_line_name_coast_2{
							display:$inl;
						}
					}
					.advantages_calc_right_line_number{
							color: #ff0000;
							font-family: "LCD2B";
							font-size: 24px;
							text-transform: uppercase;
							padding:14px 0 13px 0;
							text-align:center;
							span{
								padding:0 10px 0 0;
							}
						}
					.advantages_calc_right_line_number_col1{
						display:$inl;
						padding:0 16px 0 9px;
					}
					.advantages_calc_right_line_number_col2{
						display:$inl;
						padding:0 21px 0 0;
					}
					.advantages_calc_right_line_number_col3{
						display:$inl;
						padding:0 19px 0 0;
					}
				}		

			}
	}

	.menu_tabs{
		width:100%;
		background-color: #ffffff;
	}
	#tabs {
		background-color: #e5e3e3;
	}
		ul{
			position:relative;
			margin-top:-55px;
			background-color: #e5e3e3;
			} 
			li{
				width:33.3333%;
				float:left;
				text-align:center;
				border-top: 4px solid transparent;
				background-color: rgba(0,0,0,.2);
				padding:18px 0 14px;
				a{
					padding:18px 20%;
					color: #2c3134;
					font-family: "RobotoBold";
					font-size: 14px;
					text-transform: uppercase;
				}
	}
	.ui-state-hover{
		background-color: #ffffdd;
		border-color: #ed1d24;
	}
	.ui-tabs-active{
		background-color: #ffffff;
		border-color: #ed1d24;
	}
	.ui-tabs-panel{
		background-color: #ffffff;
	}

	.menu_tabs-1_item{
		display:$inl;
		text-align:center;
		width:24%;
		margin:(48/1192)*100% 0 (56/1192)*100%;
		background-color: #ffffff;

	}

	.menu_tabs-1_item_circle1{
		display:$inl;
		width:103px;
		height:103px;
		border-radius:50%;
		text-align:center;
		background-color: black;
	}

	.menu_tabs-1_item_circle1_circle2{
		display:$inl;
		width: 92px;
		height: 92px;
		border: 3px solid #ffffff;
		border-radius:50%;
		text-align:center;
		background-color: #ed1d24;
		
		.menu_tabs-1_item_circle1_circle2_include{
			padding:6% 0;
			color: #ffffff;
			font-family: "RobotoRegular";
			font-size: 14px;
			line-height: 30px;
			span{
				color: #ffffff;
				font-family: "RobotoLight";
				font-size: 36px;
				text-transform: uppercase;
			}
			img{
				padding:20% 27%;
			}
		}
	}

	.menu_tabs-1_item_text{
		width:100%;
		margin-top:18px;
		color: #000000;
		font-family: "RobotoRegular";
		font-size: 14px;
		line-height: 20px;
	}
	.menu_tabs-1_attention_line{
		width:100%;	
		background-color: #fff;
	.menu_tabs-1_attention{
		position:relative;
		width: 878px;
		height: 104px;
		background-color: #fff0f1;
		float: right;
		margin-bottom:8px;
	}
	.menu_tabs-1_attention_triangle{
		position:absolute;
		top:-17px;
		left: 30px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 34px 34px;
		border-color: transparent transparent #fff0f1 transparent;}
	.menu_tabs-1_attention_block{
		padding:24px 31px;
		.menu_tabs-1_attention_right{
			padding:0 30px;
			display:$inl;
			width: 696px;
			height: 54px;
			color: #000000;
			vertical-align:middle;

			color: #000000;
			font-family: "RobotoRegular";
			font-size: 14px;
			line-height: 20px;
		}
		.menu_tabs-1_attention_left{
			display:$inl;
			width:48px;
			height:48px;
			border:4px solid #ed1d24;
			vertical-align:middle;
			border-radius:50%;
			span{
				font-size: 36px;
				font-family: "RobotoBold";
				color:#ed1d24;
				padding:0 21px;
			}
		}
	}
	}
	.advantages_card_back{
		width:100%;
		background: url(../img/main_back_2.png) center center no-repeat;
		background-color: #ffffff;
		height:452px;
	}
	.advantages_card{
		width:(654/1129)*100%;
		float:right;
		.advantages_card_title,.advantages_card_text{
			width:100%;
			text-align:center;
		}
		.advantages_card_title{
			padding-top:99px;
			color: #2c3134;
			font-family: RobotoBold;
			text-transform: uppercase;
			font-size: 35px;
		}
		.advantages_card_text{
			padding-top:43px;
			padding-bottom:40px;
			color: #2c3134;
			font-family: "RobotoRegular";
			font-size: 13px;
		}
	}
	.advantages_card_items_item{
		display:$inl;
		width:32%;
		text-align:center;
		vertical-align:top;
		.advantages_card_items_circle{
			display:$inl;
			width: 56px;
			height: 56px;
			border: 2px solid #ff0000;
			border-radius:50%;
			text-align:center;
			background-color: #ffffff;
			img{
				padding:16px 0;
			}
			
		}
		.advantages_card_items_text{
			margin-top:13px;
			color: #000000;
			font-family: "RobotoRegular";
			font-size: 13px;
		}
	}
	.news{
		background-color: #ffffff;
		padding-top:30px;
		padding-bottom:37px;
	}
	.news_title{
		float:left;
		width:25%;
		.news_title_text,.news_title_link{
			width:100%;
			text-align:center;
		}
		.news_title_text{
			color: #2c3134;
			font-family: "RobotoRegular";
			font-size: 36px;
			text-transform: uppercase;
		}
		.news_title_link a{
			color: #ff0000;
			font-family: "RobotoRegular";
			font-size: 14px;
			line-height: 20px;
			text-decoration: underline;
		}
	}
	.news_items{
		width:75%;
		float:right;
	}
	.news_title,.news_items, .news_items_item{
		vertical-align:top;
	}
	.news_items_item{
		display:$inl;
		width:30%;
		float:right;
		margin-right:3%;
		line-height: 20px;
		font-family: "RobotoRegular";

		.news_items_item_img{
			width:100%;
			img{
				width:100%;
				height:100%;
			}	
		}	
	
		.news_items_item:first-child{
				margin-right:0%;
		}
		.news_items_item_date{
			color: #8696a7;
			margin:16px 0;
			font-size: 12px;
		}
		.news_items_item_description a{
			color: #000000;
			font-size: 14px;
		}
		.news_items_item_description a:hover{
			text-decoration: underline;
		}

	}
	.map{
		.map_title{
			position:absolute;
			width:100%;
			height:auto;
			z-index: 999;
			span{
				position:absolute;
				left:50%;
				transform:translate(-50%);
				padding:30px;
				color: #2c3134;
				font-family: RobotoLight;
				font-size: 60px;
				text-transform: uppercase;
				background-color: rgba(255,255,255,0.8);
				border-top: 3px solid #ed1d24;
		}
		}
	}
}
.signature a{
	padding-left:10%;
	color: #b5b8bb;
	font-family: "CuprumRegular";
	font-size: 12px;
	text-transform: uppercase;
}
footer {
	.block3{
		margin-left:-22px;
	}
	.block4{
		margin-top:30px;
		img{
			opacity:0.2;
		}
	}
}

// синий чекбокс
// .squaredFour {
// 	  width: 20px;
// 	  position: relative;
// 	  margin: 20px auto;
// 	  label {
// 	    width: 20px;
// 	    height: 20px;
// 	    cursor: pointer;
// 	    position: absolute;
// 	    top: 0;
// 	    left: 0;
// 	    background: #fff;
// 	    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
// 	    border-radius: 2px;
// 	    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
// 	    &:after {
// 	      content: '';
// 	      width: 9px;
// 	      height: 5px;
// 	      position: absolute;
// 	      top: 4px;
// 	      left: 4px;
// 	      border: 3px solid #338be9;
// 	      border-top: none;
// 	      border-right: none;
// 	      background: transparent;
// 	      opacity: 0;
// 	      transform: rotate(-45deg);
// 	    }
// 	    &:hover::after {
// 	      opacity: 0.5;
// 	    }
// 	  }
// 	  input[type=checkbox] {
// 	    visibility: hidden;
// 	    &:checked + label:after {
// 	      opacity: 1;
// 	    }
// 	  }    
// }

.clear:after,
.clear:before {
content: "";
display: table;
}

.clear:after {
    clear: both;
}